/* Library Tampil Belanjaan */

.product-grid4,
.product-grid4 .product-image4 {
    position: relative
}

.product-grid4 {
    font-family: Poppins, sans-serif;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    transition: all .3s ease 0s
}

.product-grid4:hover {}

.product-grid4 .product-image4 a {
    display: block
}

.product-grid4 .product-image4 img {
    width: 100%;
    height: auto
}

.product-grid4 .pic-1 {
    opacity: 1;
}

.product-grid4:hover .pic-1 {
    opacity: 0
}

.product-grid4 .pic-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.product-grid4:hover .pic-2 {
    opacity: 1
}

.product-grid4 .product-discount-label,
.product-grid4 .product-new-label {
    color: #fff;
    background-color: rgb(48, 48, 48);
    font-size: 10px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 40px;
    height: 40px;
    width: 40px;
    position: absolute;
    left: 10px;
    top: 15px;
    transition: all .3s;
    border-radius: 50%;
}

.product-grid4 .product-wishlist {
    color: grey;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 32px;
    height: 37px;
    width: 37px;
    position: absolute;
    left: auto;
    right: 10px;
    bottom: 15px;
    top: auto;
    transition: all .3s;
    border-radius: 50%;
    border: 3px solid grey;
}

.product-grid4 .product-red {
    color: #D7292A;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 32px;
    height: 37px;
    width: 37px;
    position: absolute;
    left: auto;
    right: 10px;
    bottom: 15px;
    top: auto;
    transition: all .3s;
    border-radius: 50%;
    border: 3px solid #D7292A;
}

.product-grid4 .product-wishlist:hover {
    color: #D7292A;
    border: 3px solid #D7292A;
}

.product-grid4 .product-discount-label {
    left: auto;
    right: 10px;
    background-color: #d7292a
}

.product-grid4:hover .product-new-label {
    opacity: 0
}

.product-grid4 .product-content {
    padding: 25px
}

.product-grid4 .title {
    font-size: 17px;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0 0 7px;
    transition: all .3s ease 0s;
}

.product-grid4 .title a {
    color: grey
}

.product-grid4 .title a:hover {
    color: black;
    text-decoration: none;
}

.product-grid4 .price {
    color: black;
    font-size: 17px;
    font-weight: 700;
    margin: 0 2px 15px 0;
    display: block
}

.product-grid4 .price span {
    color: #909090;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    text-decoration: line-through;
    text-align: left;
    vertical-align: middle;
    display: inline-block
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    .product-grid4 .product-discount-label,
    .product-grid4 .product-new-label {
        color: #fff;
        background-color: grey;
        font-size: 8px;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 30px;
        height: 30px;
        width: 30px;
        position: absolute;
        left: 10px;
        top: 15px;
        transition: all .3s;
        border-radius: 50%;
    }

    .product-grid4 .product-wishlist {
        color: grey;
        font-size: 11px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 22px;
        height: 27px;
        width: 27px;
        position: absolute;
        left: auto;
        right: 10px;
        bottom: 15px;
        top: auto;
        transition: all .3s;
        border-radius: 50%;
        border: 3px solid grey;
    }

    .product-grid4 .product-red {
        color: #D7292A;
        font-size: 11px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 22px;
        height: 27px;
        width: 27px;
        position: absolute;
        left: auto;
        right: 10px;
        bottom: 15px;
        top: auto;
        transition: all .3s;
        border-radius: 50%;
        border: 3px solid #D7292A;
    }

    .product-grid4 .product-discount-label {
        left: auto;
        right: 10px;
        background-color: #d7292a
    }

    .product-grid4 .price {
        color: brown;
        font-size: 14px;
        font-weight: 700;
        margin: 0 2px 10px 0;
        display: block
    }

    .product-grid4 .price span {
        color: #909090;
        font-size: 11px;
        font-weight: 300;
        letter-spacing: 0;
        text-decoration: line-through;
        text-align: left;
        vertical-align: middle;
        display: inline-block
    }

    .product-grid4 .title {
        font-size: 14px;
        font-weight: 400;
        text-transform: capitalize;
        margin: 0 0 3px;
        transition: all .3s ease 0s;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .product-grid4 {
        margin-bottom: 30px
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
